/* vim: set filetype=cpp: */

struct whitebox_args;

uint32_t adf4351_pack(adf4351_t* rf, uint8_t addr);
void adf4351_load(adf4351_t* rf, uint32_t data);

void adf4351_ioctl_get(adf4351_t* rf, struct whitebox_args* w);
void adf4351_ioctl_set(adf4351_t* rf, struct whitebox_args* w);

double adf4351_actual_frequency(adf4351_t* rf, double ref_freq);
double adf4351_pll_enable(adf4351_t* rf, double ref_freq, double res_freq, double target_freq);
