# Actel Physical design constraints file

# Family: SmartFusion , Die: M2S010 , Package: 484 FBGA

# 
# IO banks setting
# 

# 
# I/O constraints
# 

#for $pin_name in $pin_names

set_io {$pin_name} \
    -pinname $pin_mapping[$pin_name].current_pointer() \
    -fixed yes \
    -iostd LVTTL \
    -FF_IO_AVAIL No \
    -FF_IO_STATE TRISTATE \
#if $pin_mapping[$pin_name].direction == 'input'
    -IN_DELAY Off \
    -LPE Off \
    -RES_PULL None \
    -SCHMITT_TRIGGER Off \
    -DIRECTION INPUT
#elif $pin_mapping[$pin_name].direction == 'output'
    -OUT_DRIVE 4 \
    -OUT_LOAD 5 \
    -RES_PULL None \
    -DIRECTION OUTPUT
#end if

#end for

#
# Non IO constraints
#

