.. cssclass:: title

    Whitebox Handheld SDR

.. raw:: pdf
    
    Spacer 0 10

.. cssclass:: author
    
    By Chris Testa, KD2BMH <testac@gmail.com>


.. raw:: pdf
    
    Spacer 0 100

.. image:: _images/bravotop-mid.jpg
    :alt: Whitebox Bravo
    :align: center

.. cssclass:: subtitle

    Low power, embeddable framework inspired by cell phone and SDR architectures

.. raw:: pdf
    
    PageBreak twoColumn
